.Grid {
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 550px) {
  .Grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.25fr));
  }
}

.Slider {
  display: flex;
  scroll-snap-type: x mandatory;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.Slider > * {
  flex: 0 0 30%;
  width: 100%;
  scroll-snap-align: center;
}
